<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<display-name>RegisterServlet</display-name>
  	<description></description>
  	<servlet-class>com.codewithme.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.codewithme.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminSA</servlet-name>
  	<display-name>AdminSA</display-name>
  	<description></description>
  	<servlet-class>com.codewitme.controller.AdminSA</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SA_add</servlet-name>
  	<display-name>SA_add</display-name>
  	<description></description>
  	<servlet-class>com.codewithme.controller.SA_add</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProductServlet</servlet-name>
  	<display-name>ProductServlet</display-name>
  	<description></description>
  	<servlet-class>com.codewithme.controller.ProductServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CustomerView</servlet-name>
  	<display-name>CustomerView</display-name>
  	<description></description>
  	<servlet-class>com.codewithme.controller.CustomerView</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddToCart</servlet-name>
  	<display-name>AddToCart</display-name>
  	<description></description>
  	<servlet-class>com.codewithme.controller.AddToCart</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>QuantityIncDec</servlet-name>
  	<display-name>QuantityIncDec</display-name>
  	<description></description>
  	<servlet-class>com.codewithme.controller.QuantityIncDec</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RemoveFromCart</servlet-name>
  	<display-name>RemoveFromCart</display-name>
  	<description></description>
  	<servlet-class>com.codewithme.controller.RemoveFromCart</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OrderNow</servlet-name>
  	<display-name>OrderNow</display-name>
  	<description></description>
  	<servlet-class>com.codewithme.controller.OrderNow</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CheckOut</servlet-name>
  	<display-name>CheckOut</display-name>
  	<description></description>
  	<servlet-class>com.codewithme.controller.CheckOut</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<display-name>Logout</display-name>
  	<description></description>
  	<servlet-class>com.codewithme.controller.Logout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BrandServlet</servlet-name>
  	<display-name>BrandServlet</display-name>
  	<description></description>
  	<servlet-class>com.codewithme.controller.BrandServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CategoryServlet</servlet-name>
  	<display-name>CategoryServlet</display-name>
  	<description></description>
  	<servlet-class>com.codewithme.controller.CategoryServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OrderPage</servlet-name>
  	<display-name>OrderPage</display-name>
  	<description></description>
  	<servlet-class>com.codewithme.controller.OrderPage</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OrderStatus</servlet-name>
  	<display-name>OrderStatus</display-name>
  	<description></description>
  	<servlet-class>com.codewithme.controller.OrderStatus</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminView</servlet-name>
  	<display-name>AdminView</display-name>
  	<description></description>
  	<servlet-class>com.codewithme.controller.AdminView</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Driver</servlet-name>
  	<display-name>Driver</display-name>
  	<description></description>
  	<servlet-class>com.codewithme.controller.Driver</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OrderDelivered</servlet-name>
  	<display-name>OrderDelivered</display-name>
  	<description></description>
  	<servlet-class>com.codewithme.controller.OrderDelivered</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OrdersAdmin</servlet-name>
  	<display-name>OrdersAdmin</display-name>
  	<description></description>
  	<servlet-class>com.codewithme.controller.OrdersAdmin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BuyNow</servlet-name>
  	<display-name>BuyNow</display-name>
  	<description></description>
  	<servlet-class>com.codewithme.controller.BuyNow</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>viewBranch</servlet-name>
  	<display-name>viewBranch</display-name>
  	<description></description>
  	<servlet-class>com.codewithme.controller.viewBranch</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminSA</servlet-name>
  	<url-pattern>/addProduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminSA</servlet-name>
  	<url-pattern>/getProduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminSA</servlet-name>
  	<url-pattern>/updateProduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminSA</servlet-name>
  	<url-pattern>/deleteProduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SA_add</servlet-name>
  	<url-pattern>/SA_add</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SA_add</servlet-name>
  	<url-pattern>/SA_edit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SA_add</servlet-name>
  	<url-pattern>/SA_delete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SA_add</servlet-name>
  	<url-pattern>/SA_view</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductServlet</servlet-name>
  	<url-pattern>/ProductAdd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductServlet</servlet-name>
  	<url-pattern>/ProductEdit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductServlet</servlet-name>
  	<url-pattern>/ProductDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductServlet</servlet-name>
  	<url-pattern>/ProductView</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CustomerView</servlet-name>
  	<url-pattern>/CustomerView</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddToCart</servlet-name>
  	<url-pattern>/addToCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>QuantityIncDec</servlet-name>
  	<url-pattern>/QuantityIncDec</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RemoveFromCart</servlet-name>
  	<url-pattern>/RemoveFromCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OrderNow</servlet-name>
  	<url-pattern>/OrderNow</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CheckOut</servlet-name>
  	<url-pattern>/CheckOut</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BrandServlet</servlet-name>
  	<url-pattern>/addBrand</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BrandServlet</servlet-name>
  	<url-pattern>/editBrand</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BrandServlet</servlet-name>
  	<url-pattern>/deleteBrand</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BrandServlet</servlet-name>
  	<url-pattern>/viewBrand</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CategoryServlet</servlet-name>
  	<url-pattern>/ViewCategory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CategoryServlet</servlet-name>
  	<url-pattern>/AddCategory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CategoryServlet</servlet-name>
  	<url-pattern>/DeleteCategory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CategoryServlet</servlet-name>
  	<url-pattern>/UpdateCategory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OrderPage</servlet-name>
  	<url-pattern>/OrderPage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OrderStatus</servlet-name>
  	<url-pattern>/orderViewSA</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OrderStatus</servlet-name>
  	<url-pattern>/updateStatusSA</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminView</servlet-name>
  	<url-pattern>/inventory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminView</servlet-name>
  	<url-pattern>/orders</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Driver</servlet-name>
  	<url-pattern>/Driver</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OrderDelivered</servlet-name>
  	<url-pattern>/OrderDelivered</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OrdersAdmin</servlet-name>
  	<url-pattern>/OrdersAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OrdersAdmin</servlet-name>
  	<url-pattern>/OrderDeets</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BuyNow</servlet-name>
  	<url-pattern>/BuyNow</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>viewBranch</servlet-name>
  	<url-pattern>/viewBranch</url-pattern>
  </servlet-mapping>
</web-app>
